/* General body */
body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

/* Top welcome bar */
#welcome-bar {
    width: 100%;
    position: relative;
}

#logo {
    float: left;
    position: absolute;
    padding: 0;
    margin-top: -10px;
}

#message {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: -10;
}

.logo-image {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 55px;
}

/* Top navigation bar */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #666;
    justify-content: center;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Gif container */
.wallie {
  float: left;
  width: 20%;

  box-sizing: border-box;
}

/* Clearfix (clear floats) */
.wall::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}

.wall-image {
    height: 150px;
    width: 100%;
}



/* Upload image container */
.upload-container {
    position: absolute;
    top: 300px;
    bottom: 0px;
    left : 0%;
    width: 100%;

}

.upload-header {
    position: absolute;
    text-align:center;
    width:100%;
    font-size: 25px;
}
.row {
    position: absolute;
    top: 80px;
    width:100%;
    text-align:center;
}

#uploaded-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#uploaded {
    max-height: 600px;
    max-width: 600px;
}