<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Results</title>
        <link rel="stylesheet" href="{{ general_style }}" type="text/css">
        <link rel="stylesheet" href="{{ page_style }}" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <!-- Top welcome bar -->
        <div id="welcome-bar">
            <div id="logo">
                <a href="{{ index }}" title="Bird Detector">
                    <img id="logo-image" src="{{ logo }}" alt="Bird Detector">
                </a>
            </div>
            <div id="message">
                <p> Welcome to your best online bird detector</p>
            </div>
        </div>

        <!-- Top welcome bar -->
        <div id="navbar">
            <a href="{{ index }}">Home</a>
            <div id="dropdown">
                <button id="dropbtn">Models</button>
                <div id="dropdown-content">
                    <a href="{{ index }}">Bird detector</a>
                </div>
            </div>
            <a href="{{ about }}">About</a>
        </div>

        <!-- Image container -->
        <div id="wall">
            <div class="wallie">
                <img class="wall-image" src="{{ wall[0] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[1] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[2] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[3] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[4] }}" alt="Image">
            </div>
        </div>

        <!-- About itmes -->
        <div id="about">
            <p>Coming soon...</p>
        </div>
    </body>
</html>