<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bird Detector</title>
        <link rel="stylesheet" href="{{ general_style }}" type="text/css">
        <link rel="stylesheet" href="{{ page_style }}" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script>
            // Get image upon file upload
            function init() {
                var inputFile = document.getElementById('inputFile1');
                inputFile.addEventListener('change', mostrarImagen, false);
            }
            // Display chosen image on the webpage
            function mostrarImagen(event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                    var img = document.getElementById('uploaded');
                    img.src = event.target.result;
                }
                reader.readAsDataURL(file);
            }
            window.addEventListener('load', init, false);

            // Validate if the chosen file has the correct extension
            // Dynamically go through extensions list
            function validate() {
                var sub = document.getElementById('inputFile1').value;
                var ext = {{ extensions|tojson }};
                var contains = false;
                var ext_string = "";

                for (i = 0; i < ext.length; i++) {
                    if (sub.includes(ext[i])) {
                        contains = true;
                    }
                    if (i == 0) {
                        ext_string += ext[i];
                    } else {
                        ext_string += ", " + ext[i];
                    }
                }
                if (contains == true) {
                    return true;
                } else {
                    alert("Only following extensions are allowed: " + ext_string);
                    return false;
                }
            }
        </script>
    </head>

    <body onload="error_check()">
        <!-- Top welcome bar -->
        <div id="welcome-bar">
            <div id="logo">
                <a href="{{ index }}" title="Bird Detector">
                    <img id="logo-image" src="{{ logo }}" alt="Bird Detector">
                </a>
            </div>
            <div id="message">
                <p> Welcome to your best online bird detector</p>
            </div>
        </div>

        <!-- Top welcome bar -->
        <div id="navbar">
            <a href="{{ index }}">Home</a>
            <div id="dropdown">
                <button id="dropbtn">Models</button>
                <div id="dropdown-content">
                    <a href="{{ index }}">UK birds</a>
                </div>
            </div>
            <a href="{{ about }}">About</a>
        </div>

        <!-- Image container -->
        <div id="wall">
            <div class="wallie">
                <img class="wall-image" src="{{ wall[0] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[1] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[2] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[3] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[4] }}" alt="Image">
            </div>
        </div>

        <!-- Upload container -->
        <div id="upload-container">
            <div id="upload-header">
                <p>Upload Image</p>
            </div>
            <form name="submitform" action="upload" method="post" onsubmit="return validate()" enctype="multipart/form-data">
                <div id="row">
                    <div>
                        <input class="input" type="file" name="file" id="inputFile1">
                        <input class="input" type="submit" value="Upload">
                    </div>
                    <div id="uploaded-container">
                        <img id="uploaded">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>