<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bird Detector</title>
        <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script>
            function error_check() {
                var err = "{{ error }}";
                if (err == "True") {
                    alert("Only following extensions are allowed: jpg, jpeg, png");
                }
            }
            function init() {
                var inputFile = document.getElementById('inputFile1');
                inputFile.addEventListener('change', mostrarImagen, false);
            }
            function mostrarImagen(event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                    var img = document.getElementById('uploaded');
                    img.src = event.target.result;
                }
                reader.readAsDataURL(file);
            }
            window.addEventListener('load', init, false);
        </script>
    </head>

    <body onload="error_check()">
        <!-- Top welcome bar -->
        <div id="welcome-bar">
            <div id="logo">
                <a href="{{ index }}" title="Bird Detector">
                    <img id="logo-image" src="{{ logo }}" alt="Bird Detector">
                </a>
            </div>
            <div id="message">
                <p> Welcome to your best online bird detector</p>
            </div>
        </div>

        <!-- Top welcome bar -->
        <div id="navbar">
            <a href="{{ index }}">Home</a>
            <div id="dropdown">
                <button id="dropbtn">Models</button>
                <div id="dropdown-content">
                    <a href="{{ index }}">Bird detector</a>
                </div>
            </div>
            <a href="#About">About</a>
        </div>

        <!-- Image container -->
        <div id="wall">
            <div class="wallie">
                <img class="wall-image" src="{{ wall[0] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[1] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[2] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[3] }}" alt="Image">
            </div>
            <div class="wallie">
                <img class="wall-image" src="{{ wall[4] }}" alt="Image">
            </div>
        </div>

        <div id="upload-container">
            <div id="upload-header">
                <p>Upload Image</p>
            </div>
            <form action="upload" method="post" enctype="multipart/form-data">
                <div id="row">
                    <div>
                        <input type="file" name="file" id="inputFile1">
                        <input type="submit" value="Upload">
                    </div>
                    <div id="uploaded-container">
                        <img id="uploaded">
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>